$background-darkest: rgba(0, 0, 0, 0.5);
$background-darker: rgba(0, 0, 0, 0.4);
$background-darkish: rgba(0, 0, 0, 0.3);
$background-dark: rgba(0, 0, 0, 0.2);
$background-light: grey;
$background-lightish: lightgrey;
$background-lightest: white;

$background-primary: #333;

$font-light: white;
$font-dark: black;

$color-primary: #007bff;
$color-secondary: #337ab7;