header
	h1 Chat
	button.btn.pull-right.x-header-bar-btn Logout

script.
	var user = "#{user}";
	$('.x-header-bar-btn').click(function() {
		socket.emit('user disconnect', user);
		$(location).attr('href', '/logout');
	});