<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(name="description" content="NodeJS Fullstack Demo")
		meta(name="keywords" content="nodejs,backbone,underscore,javascript,final,project,pug,jade,es6,scss,sass")
		title= title
		link(rel="icon" href="../images/favicon.ico")
		link(rel="stylesheet" type="text/css" href="../css/base.css")
		link(rel="stylesheet" type="text/css" href="../css/login.css")
		link(rel="stylesheet" type="text/css" href="../css/chat.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		block head
	body
		block header
		section
			block content
		include footer-bar